
.shopname{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.colo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#mainNav{
    background-color: rgb(5, 5, 5);
}
 .nav-link:hover{
transform: scale(1.2);
}
.navbar-brand{
    font-family: 'Nerko One', cursive;
    font-size: 30px;
}
.category{
    font-family: 'Times New Roman', Times, serif;
    font: size 30px;



}